DemoLab.Core/obj/
DemoLab.Core/bin/
DemoLab.Examples/obj/
DemoLab.Examples/bin/
DemoLab.Factory/obj/
DemoLab.Factory/bin/
DemoLab.Plugin/obj/
DemoLab.Plugin/bin/
DemoLab.Runner/obj/
DemoLab.Runner/bin/
DemoLab.ExerciseVerification/bin/
DemoLab.ExerciseVerification/obj/
DemoLab/App_Data/
DemoLab/obj/
DemoLab/bin/
DemoLab/logs
DemoLab.Data.Access/obj
DemoLab.Data.Access/bin
DemoLab.Models/obj
DemoLab.Models/bin
DemoLab.Services.Api/obj
DemoLab.Services.Api/bin
DemoLab.Services/obj
DemoLab.Services/bin
DemoLab.Services.Tests/obj
DemoLab.Services.Tests/bin
DemoLab.Web.Tests/obj
DemoLab.Web.Tests/bin
DemoLabApiTests/node_modules
*.Cache
packages/
*.user
*.testsettings
_ReSharper.Caches/
.vs/