<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ecsc00a00f9e\SQLDEV;Initial Catalog=LabTesterCI;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <smtp>
    <network host="smtp.gmail.com" port="587" enableSsl="true" userName="ff3513116@gmail.com" password="ff3513116ff3513116" xdt:Transform="Replace" />
  </smtp>
  <appSettings>
    <add key="FrontendHost" value="http://ecsc00a00f9e.epam.com:9021/" xdt:Transform="Insert"/>
  </appSettings>
</configuration>
